{% extends "root.html" %}

{% block content-center %}
    {% if data %}
        <div class="data-card left-align">
            <h2 class="data-card-head">{{data.displayName}}</h2>
            <div class="divider"></div>
            <h4 class="data-card-property">Id: {{data.id}}</h4>
            <h4 class="data-card-property">Name: minecraft:{{data.name}}</h4>
            <h4 class="data-card-property">Category: {{data.category}}</h4>
            <h4 class="data-card-property">Temperature: {{data.temperature}}</h4>
            <h4 class="data-card-property">Precipitation: {{data.precipitation}}</h4>

            <h4 class="data-card-property">Dimension: {{data.dimension}}</h4>
            <h4 class="data-card-property">Color: {{data.color}}</h4>
            <h4 class="data-card-property">Rainfall: {{data.rainfall}}</h4>
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}