body {
    /* background-color: #D6E1FF; */
    color: #4C4E55;
}

.nav-wrapper {
    /* background-color: #3D60FF; */
    color: #D6E1FF;
}

#search {
    /* background-color: #FFCF3C; */
}

nav {
    box-shadow: none;
}

.sidenav {
    /* background-color: #3D60FF !important; */
    color: #D6E1FF;
    box-shadow: none;
}

.data-card {
    max-width: 60vw;
    height: 75vh;

    /* background-color: #59BAFF; */
    margin: 5% 5% 5% 5%;

    border-style: solid;
    border-color: #4C4E55;
    border-radius: 50px;

    overflow: scroll;
}

.data-card-head {
    padding: 0% 5% 0% 5%;
}

.data-card-property {
    padding: 0% 5% 0% 5%;
    white-space: nowrap;
}