body {
    background-color: #D8DBE2;
    color: #1B1B1E;
}

.nav-wrapper {
    background-color: #58A4B0;
}

.data-card {
    max-width: 60vw;
    height: 75vh;

    background-color: #A9BCD0;
    margin: 5% 5% 5% 5%;

    border-style: solid;
    border-color: #1B1B1E;
    border-radius: 50px;

    overflow: scroll;
}

.data-card-head {
    padding: 0% 5% 0% 5%;
}

.data-card-property {
    padding: 0% 5% 0% 5%;
    white-space: nowrap;
}