body {
    color: white;
}

#titlebar {
    box-shadow: none;
}

#search {
    margin: 5% 0%;
    border-radius: 10px;
}

.nav-wrapper {
    color: #D6E1FF;
}

.navigation {
    max-height: 50vw;
}
.navigation > * {
    display: block;
    margin: 5%;
}

.sidenav {
    box-shadow: none;
    background-color: #ee6e73;
}

.data-card {
    max-width: 100vw;
    height: 75vh;
    background-color: #ee6e73;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 5% 0% 5% 0%;
    border-color: #4C4E55;
    border-radius: 10px;
    overflow: scroll;
}

.data-card-head {
    padding: 0% 5% 0% 5%;
}

.data-card-property {
    padding: 0% 5% 0% 5%;
    white-space: nowrap;
}