{% extends "root.html" %}

{% block content-center %}
    <nav id="search">
        <div class="nav-wrapper">
            <form onsubmit="return redirect()">
                <div class="input-field">
                <input class="autocomplete" id="search-input" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    {% if data %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    {% url link version item.name as item_url %}
                    <tr>
                        {% if item.displayName %}
                            <td><a href="{{item_url}}">{{item.displayName}}</a></td>
                        {% else %}
                            <td><a href="{{item_url}}">{{item.name}}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if offset == 0 %}
        <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="waves-effect"><a href="?offset={{offset|add:"-1"}}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for index in pagnation_list %}
        {% if offset == index %}
            <li class="active"><a href="?offset={{index}}">{{index}}</a></li>
        {% else %}
            <li class="waves-effect"><a href="?offset={{index}}">{{index}}</a></li>
        {% endif %}
    {% endfor %}

    {% if offset == data_size %}
        <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="waves-effect"><a href="?offset={{offset|add:"1"}}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
{% endblock %}