{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head><meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="navbar-fixed">
            <nav id="titlebar">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">Minecraft Data Finder</a>
                    <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>

        <ul id="sidenav" class="test sidenav sidenav-fixed">
            <li><h3 class="center">{{ version }}</h3></li>
            <li><div class="divider"></div></li>
            <div class="navigation">
                {% for key, value in main_pages.items %}
                    {% url value version as page_url %}
                    {% if page_url == request.path  %}
                        <a class="waves-effect waves-light btn-large teal lighten-4" href="{{page_url}}">{{key}}</a>
                    {% else %}
                        <a class="waves-effect waves-light btn-large" href="{{page_url}}">{{key}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col l3 m1 s0 center">
                    {% block content-left %}
                    {% endblock %}
                </div>
                <div class="col l6 m10 s12 center">
                    {% block content-center %}
                    
                    {% endblock %}
                    <ul class="pagination">
                        {% block pagination %}
                        {% endblock %}
                    </ul>
                </div>
                <div class="col l3 m1 s0">
                    {% block content-right %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {{ search_data|json_script:"init-search-data" }}
        <script type="text/javascript" src="{% static 'main.js' %}"></script>
    </body>
</html>